
<div class="container-sm">

  <!-- <div class="text-center mt-5">

    <h1 class="landing-title">{{title}}</h1>

  </div> -->

  <h1 class="text-center mt-5 landing-title">{{title}}</h1>

  <div class="row">

    <div class="col-lg-3 col-md-2 col-sm-1"></div>

    <div class="col-lg-6 col-md-8 col-sm-10">

      <div class="input-group mb-3">

        <input type="text" class="form-control" placeholder="Search artists">
        <button class="btn btn-secondary" type="button" (click)="search()">Search</button>
    
      </div>
      
    </div>

    <div class="col-lg-3 col-md-2 col-sm-1"></div>

  </div>



</div>
